@import "tailwindcss";

/* 🔑 Force class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@tailwind utilities;

/* Light theme */
:root {
  --color-background: #f6f6f6;
  --color-foreground: #171717;
  --color-primary: #2563eb;
}

/* Dark theme */
.dark {
  --color-background: #0a0a0a;
  --color-foreground: #f6f6f6;
  --color-primary: #3b82f6;
}

/* Apply variables */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);

  transition:
    background-color 500ms ease,
    color 300ms ease;
}
@layer utilities {
  .white-dark {
    @apply bg-white;
  }

  .dark .white-dark {
    @apply bg-gray-900;
  }
}
.dark .react-datepicker {
  background-color: #1f2937;
  border-color: #374151;
}

.dark .react-datepicker__day {
  color: white;
}

.dark .react-datepicker__day--selected {
  background-color: #2563eb;
}
.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__input-container {
  width: 100% !important;
}

.react-datepicker__input-container input {
  width: 100% !important;
}
.react-datepicker__input-container {
  width: 100% !important;
}
.react-datepicker {
  width: 100% !important;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari, Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge, and Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
